.section{
    width: 100%;
    padding: 100px 10%;
    background: linear-gradient(to right, var(--orange) 60%, var(--darkPurple) 60% 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;

    .contentArea{

        .title{
            color: var(--white);
            margin-bottom: 40px;
            transition: .3s all;
    
            strong{
                font-size: 58px;
                display: block;
                transition: .3s all;
            }

            &:hover{

                strong{
                    transform: translateY(-10px);
                }
            }
        }
    
        .subTitle{
            font-size: 18px;
            color: var(--white);
            line-height: 30px;
            font-weight: normal;
            width: 300px;
        }
    
        .areaButtons{
            margin-top: 40px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
    
            .button{
                font-size: 14px;
                font-weight: bold;
                color: var(--white);
                background: var(--purple);
                border-radius: 5px;
                padding: 0 40px;
                border: none;
                height: 46px;
                margin-right: 10px;
                cursor: pointer;
                transition: .3s all;
    
                &:last-child{
                    background: transparent;
                    border: 2px solid var(--white);
                }

                &:hover{
                    box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.11);
                    filter: brightness(.8);
                    transform: translateY(-5px);
                }
            }
        }
    }

    .rightArea{

        .areaImage{
            width: 500px;
        }
    }
}