.section{
    padding: 50px 10%;
    background: var(--darkPurple);

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    .stat{
        text-align: center;
        min-width:  200px;

        .data{
            color: var(--purple);
            font-weight: bold;
            font-size: 48px;
            margin-bottom: 10px;
        }
        .description{
            font-weight: bold;
            font-size: 16px;
            color: var(--white);
        }
    }

    @media only screen and (min-width: 1700px){
        padding: 50px 20%;
    }
}